[submodule "src/isaac_ros_common"]
	path = src/isaac_ros_common
	url = git@github.com:ARK-Electronics/isaac_ros_common.git
[submodule "src/isaac_ros_nitros"]
	path = src/isaac_ros_nitros
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_nitros
[submodule "src/isaac_ros_image_pipeline"]
	path = src/isaac_ros_image_pipeline
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_image_pipeline
[submodule "src/isaac_ros_argus_camera"]
	path = src/isaac_ros_argus_camera
	url = https://github.com/ARK-Electronics/isaac_ros_argus_camera
[submodule "src/isaac_ros_compression"]
	path = src/isaac_ros_compression
	url = git@github.com:NVIDIA-ISAAC-ROS/isaac_ros_compression.git
[submodule "src/ros-gst-bridge"]
	path = src/ros-gst-bridge
	url = git@github.com:BrettRD/ros-gst-bridge.git
	branch = ros2
[submodule "src/isaac_ros_visual_slam"]
	path = src/isaac_ros_visual_slam
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_visual_slam.git
[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
	branch = 4.51.1
[submodule "src/ros-foxglove-bridge"]
	path = src/ros-foxglove-bridge
	url = git@github.com:ARK-Electronics/ros-foxglove-bridge.git
[submodule "src/px4_vslam"]
	path = src/px4_vslam
	url = git@github.com:dakejahl/px4_vslam.git
