[Unit]
Description=Launches the ROS2 nodes
Wants=network.target
After=syslog.target network-online.target

[Service]
User=jake
Type=simple
ExecStart=/home/jake/workspaces/isaac_ros-dev/start_ros_nodes.sh
Restart=on-failure
RestartSec=5
KillMode=process

[Install]
WantedBy=multi-user.target
